# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Your .venv directory)
.venv/
venv/
ENV/
.env/


# Database (Don't send database in GitHub)
*.db
*.sqlite
*.sqlite3
*.mysql
*.postgresql

# IDE Settings (PyCharm/VSCode settings)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db