# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment (Sənin .venv qovluğun)
.venv/
venv/
ENV/

# Database (Bazanı GitHub-a göndərmirik)
*.db
*.sqlite
*.sqlite3

# IDE Settings (PyCharm/VSCode tənzimləmələri)
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db